// -----  Grids for the responsive
@mixin row {
    font: {
        size: 0;
    };
}

@mixin col($col, $sum, $gap: 0.5rem, $display: flex, $align: flex-start, $first: false, $last: false) {
    width: percentage($col/$sum);
    display: $display;
    align-content: flex-start;
    padding: 0 $gap;
    box-sizing: border-box;
    font: {
        size: 16px;
    };
    padding: {
        left: if($first, 0, $gap);
        right: if($last, 0, $gap);
    };
}
