{% macro render_blog_post(post, from_index=false) %}
    {% set images = post.attachments.images.limit(1) %}
    <section class="blogpost">
        <div class="post-image-container">
            {% for image in images %}
                <img src="{{ image|url }}">
            {% endfor %}
        </div>
        <div class="post-info-container">
            <a class="post-title" href="{{ post|url }}">
                <h4>{{ post.title }}</h4>
            </a>
            <p class="post-meta">
                <span><b>{{ post.category }}</b></span> /
                <span>{{ post.pub_date|dateformat('medium') }}</span>
                {% if post.tags %}
                /
                <span class="tag">{{ post.tags }}</span>
                {% endif %}
            </p>
            {{ post.excerpt }}
            <div>
                <a href="{{ post|url }}" class="button btn-read">Lire l'article <i class="fa fa-angle-right"></i></a>
                <!--<a href="{{ post|url }}" class="button">Partager <i class="fa fa-share-alt"></i></a>-->
            </div>
        </div>
    </section>
{% endmacro %}
