{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block cover %}
    {% set images = this.attachments.images.limit(1) %}
    {% for image in images %}
    <header class="simple-head" style="background-image: url({{ image|url }});">
    {% else  %}
    <header class="simple-head" style="background-image: none;">
    {% endfor  %}
        {% include "partials/navigation.html" %}
        <div class="cover-text">
            <h2>{{ this.title }}</h2>
            <p class="cover-text-meta_details">
                <span>{{ this.category }}</span>
                <span>|</span>
                <span><b>Date de publication :</b> {{ this.pub_date|dateformat('medium') }}</span>
                {% if this.author is not equalto 'Nicolas De Scheerder'  %}
                     <span>|</span>
                     <span><b>>Par</b> {{ this.author }}</span>
                {% endif %}
            </p>
        </div>
    </header>
{% endblock %}
{% block body %}
    {% set images = this.attachments.images.limit(1) %}
    <section class="wording-content">
        <article>
            {{ this.body }}
            {% if images %}
                {% for image in images %}
                    <img src="{{ image|url }}" alt="{{ image.legend }}">
               {% endfor %}
            {% endif %}
        </article>
        {% include "partials/aside.html" %}
    </section>
{% endblock %}