<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>Krands/{{ this.title }}</title>
        <link rel="stylesheet" href="{{'/static/styles.css'|asseturl }}">
    </head>
    <body>
        {% block cover %}{% endblock %}
        <main role="main">
            {% block body %}{% endblock %}
        </main>
        <!-- if article == aside -->
        <footer>
            <div><span>Version 0.2</span></div>
            <div>
            {% for url, title, icon in [
                ['/datalove','Datalove','heart'],
                ['/licence','BY-SA','creative-commons'],
                ['https://github.com/Krands/website','Dépôt','github'],
            ] %}
            <a href="{{ url }}"><i class="fa fa-{{ icon }}" aria-hidden="true"></i>{{ title }}</a>
            {% endfor %}
            </div>
            <!-- Scripts -->
            <script src="https://use.fontawesome.com/f18530e2b9.js"></script>
            <script type=text/javascript src="{{'/static/app.js'|asseturl }}" charset="utf-8"></script>
        </footer>
    </body>
</html>
