{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block cover %}
    {% include "partials/navigation.html" %}
{% endblock %}
{% block body %}
    <section class="wording-content">
        <article>
            <h1>{{ this.title }}</h1>
            <hr>
            {{ this.body }}
        </article>
        {% if this.title == "Contact" %}
            {% include 'partials/contact-form.html' %}
        {% endif %}
        {% if this.title == "Engagez-moi" %}
            {% include 'partials/about.html' %}
        {% endif  %}
        {% include 'partials/aside.html' %}
    </section>
{% endblock %}
